:root {
--main-background: hsl(233, 47%, 7%);
--card-background: hsl(244, 38%, 16%);
--violet-accent: hsl(277, 64%, 61%);
--main-heading: hsl(0, 0%, 100%);
--main-paragraph: hsla(0, 0%, 100%, 0.75);
--stat-headings: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 30px;
    background-color: var(--main-background);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

main.main {
    background-color: var(--card-background);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
}

.image {
    position: relative;
    width: 450px;
    background-image: url(images/image-header-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(277, 64%, 61%, .6);
}

.content {
    width: 450px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
}

.stats {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
}

h1.main-heading {
    color: var(--main-heading);
    font-weight: 700;
}

span.violet-accent {
    color: var(--violet-accent);
}

p.main-paragraph {
    color: var(--main-paragraph);
}


h2.stat-headings {
    color: var(--main-heading);
}




@media(max-width:767px) {
    main.main {
        flex-direction: column;
        text-align: center;
    }
    .content {
        max-width: 355px;
    }
    
    .stats {
        flex-direction: column;
    }
    .image {
        width: 100%;
        height: 225px;
    }

}